
.error-validate {
    height: 10px;
    color: rgb(202, 76, 76);
    font-size: 12px;
}

.img-responsive-custom {
    height: 100% !important;
    object-fit: cover;
}

.thumbnail {
    position: relative;
    /* margin-bottom: 10px; */
    height: 200px;
    width: 240px;
}
.custom-swal-popup {
    z-index: 200 !important; /* Mayor que el z-index del modal de Bootstrap */
}